<main>
    <h2 *ngIf="false === (hasConnectedMidiConnections$ | async)">There is currently no instrument connected via MIDI</h2>
    <h2 *ngIf="(hasConnectedMidiConnections$ | async)">Currently connected instruments MIDI</h2>
    <ul>
        <li *ngFor="let midiConnection of connectedMidiConnections$ | async; trackBy: identifyMidiConnection">
            <anp-midi-connection [midiConnection]="midiConnection"></anp-midi-connection>
        </li>
    </ul>
    <p>This window needs to be kept open as long as you want to share your synth. 'Allow Microphone' needs to be activated allowing the browser to use your sound card. Once you register your device, you can play middle C to upload a short sample of your patch.</p>
</main>
