@if (hasConnectedMidiConnections$ | async) {
    <h2>Currently connected MIDI instruments</h2>
} @else {
    <h2>There is currently no instrument connected via MIDI</h2>
}
<ul>
    <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -->
    @for (midiConnection of connectedMidiConnections$ | async; track identifyMidiConnection($index, midiConnection)) {
        <li>
            <anp-midi-connection [midiConnection]="midiConnection"></anp-midi-connection>
        </li>
    }
</ul>
<p>
    This window needs to be kept open as long as you want to share your synth. 'Allow Microphone' needs to be activated allowing the browser
    to use your sound card. Once you register your device, you can play middle C to upload a short sample of your patch.
</p>
