<button ng-click="vm.test()" ng-disabled="vm.playState == 'playing'">test device by recording a scale</button>
<button ng-click="vm.sample()" ng-disabled="vm.registerState != 'registered' || vm.playState == 'playing'">sample a middle c (#60/C3)</button>
<button ng-click="vm.register()" ng-disabled="vm.registerState == 'registering'" ng-if="vm.registerState != 'registered'">register device</button>
<button ng-click="vm.deregister()" ng-if="vm.registerState == 'registered'">deregister device</button>
<h3 ng-if="vm.registerState == 'registered'">
    <a href="#/devices/{{ vm.device.id }}" ng-bind="vm.device.name"></a>
</h3>
<h3 ng-if="vm.registerState != 'registered'">
    <span contenteditable ng-bind="vm.device.name"></span>
</h3>
