<button ng-click="midiOutput.test()" ng-disabled="midiOutput.playState == 'playing'">test device by recording a scale</button>
<button ng-click="midiOutput.sample()" ng-disabled="midiOutput.registerState != 'registered' || midiOutput.playState == 'playing'">sample a middle c (#60/C3)</button>
<button ng-click="midiOutput.register()" ng-disabled="midiOutput.registerState == 'registering'" ng-if="midiOutput.registerState != 'registered'">register device</button>
<button ng-click="midiOutput.deregister()" ng-if="midiOutput.registerState == 'registered'">deregister device</button>
<h3>
    <a contenteditable href="#/devices/{{midiOutput.id}}" ng-bind="midiOutput.name"></a>
</h3>
